<%- include("header") -%>
    <div class="box" id="heading">
        
            <h1>Its <%= ListTitle %> </h1>

    </div>

    <div class="box">
        <% newListItems.forEach(function(item) { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%= item._id %>" id="">
                <p> <%= item.name  %> </p>
                <input type="hidden" name="listName" value="<%= ListTitle %>"></input>
            </div>
             
        </form>
        
        <% }) %>

        <form action="/" class="item" method="post">
            <input type="text" name="todos" placeholder="New Task" autocomplete="off"> 
            <button type="submit" name="list" value= <%= ListTitle %> >+</button>
        </form> 
    </div> 
<%- include("footer") %> 
